{% extends "base.html" %}

{% block title %}
    Libraries List
{% endblock %}


{% block content %}
    <div class="cards">
    {% for library in libraries %}
        <div class ="library">
            <h3> {{library.name}} </h3>
            <p> Students Capacity: {{library.students_capacity}} </p>
            <p> Location: {{library.location}} </p>
            <p> Created on: {{library.created_on}} </p>
            <a class="btn btn-primary" href="{% url 'library.details' library.id %}"> View Library >> </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}