{% extends "base.html" %}

{% block title %}
    {{library.name}}
{% endblock %}

{% block content %}
<div class="container">

        <div class ="library">
            <h3> {{library.name}} </h3>
            <p> Students Capacity: {{library.students_capacity}} </p>
            <p> Location: {{library.location}} </p>
            <p> Created on: {{library.created_on}} </p>
            <a class="btn btn-primary" href="{% url 'libraries' %}"> back  </a>
        </div>

        {% if shelves %}
            <h3> Shelves Constructed in {{library.name}} </h3>
            {% for shelf in shelves %}
                <div class="shelf-card">
                     <p> {{shelf.label}} </p>
                     <a href="{% url 'shelf.details' shelf.id %}" class="btn btn-success"> View {{shelf.label}} </a>
                </div>

            {% endfor %}
        {% else %}

        <p> No Shelves Constructed in {{library.name}} Library

        {% endif %}


</div>
{% endblock %}