{% extends "base.html" %}

{% block title %}
    {{shelf.name}}
{% endblock %}


{% block content %}
<div class="container">
    <div class="shelf">
            <h3> {{shelf.label}} </h3>
            <p> Number of Books:  {{shelf.books_capacity}} </p>
            <p> Library:  {{shelf.library.name}} </p>
            <p> Created On {{shelf.created_on}} </p>
            <a class="btn btn-primary" href="{% url 'shelves' %}"> back  </a>
        </div>

        {% if books %}
        <h3> Books in the {{shelf.label}} Shelf of {{shelf.library.name }} Library </h3>
            {% for book in books %}
            <p> {{book.title}} </p>

            {% endfor %}

        {% else %}
            <p> No books in the {{shelf.label }} of {{shelf.library.name}} </p>
        {% endif %}

</div>
{% endblock %}